  <%= @f.error_messages %>

  <p>
  <%= @f.text_field :title, :size => 31 %>
  </p>

  <p>
  <%= @f.text_area :title, :rows => 7, :cols => 35 %>
  </p>
  
  <p>
  <%= @f.file_field :avatar, :size => 31 %>
  </p>
  
