<h1>New brand for <%= link_to @client.name, @client %></h1>

<% form_for([@client, @brand]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f}%>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', client_brands_path(@client) %>
